body{
    background-image: url("../images/caveimage.jpg");
}

h1 {
    text-align: center;
    color: azure;
    font-family:'Orbitron', sans-serif; ;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
.empty {
    width: 50px;

}
#winstotal {
    color: green;
}
#lossestotal {
    color: red;
}
#target-number {
    color: blue;
}
#score {
    color: blueviolet;
}
h3 {
    font-family: 'Orbitron', sans-serif; 
}